@{
    ViewData["Title"] = "Home Page";
}

<p > </p>

<form action='@Url.Action("GuardarJugador", "Home")' method="post" enctype="multipart/from-data">

<input type="hidden" name="idEquipo" value="@ViewBag.IdEquipo">

  <div class="form-group">
    <label for="exampleInputname1">Ingresen el nombre del jugador</label>
    <input type="text" name="nombre" class="form-control" id="exampleInputname1">
  </div>

  <div class="form-group">
    <label for="exampleInputdatetime1">Ingresen la fecha de nacimiento del jugador</label>
    <input type="date" name="fechaNacimiento" class="form-control" id="exampleInputdatetime1">
  </div>

  <input type="file" name="foto">

  <div class="form-group">
    <label for="exampleInputname1">Ingresen el equipo actual del jugador</label>
    <input type="text" name="equipoActual" class="form-control" id="exampleInputname1">
  </div>
  
  <button  type="submit" class="btn btn-primary">Guardar Jugador</button>
</form>



