@{
    ViewData["Title"] = "Home Page";
}

<p > </p>

<form action='@Url.Action("GuardarJugador", "Home")' method="post" enctype="multipart/from-data">

<input class="form-control" type="hidden" name="IdEquipo" value="@ViewBag.IdEquipo">

  <div class="form-group">
    <label for="exampleInputname1">Ingresen el nombre del jugador</label>
    <input type="text" name="Nombre" class="form-control" id="exampleInputname1" required>
  </div>

  <div class="form-group">
    <label for="exampleInputdatetime1">Ingresen la fecha de nacimiento del jugador</label>
    <input type="date" name="FechaNacimiento" class="form-control" id="exampleInputdatetime1" required>
  </div>

  <input class="form-group" type="file" name="Foto" required>

  <div class="form-group">
    <label for="exampleInputname1">Ingresen el equipo actual del jugador</label>
    <input type="text" name="EquipoActual" class="form-control" id="exampleInputname1" required>
  </div>
  <button  type="submit" class="btn btn-primary">Guardar Jugador</button>
</form>



