@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<p > </p>

<<form>
  <div class="form-group">
    <label for="exampleInputtext1">Ingrese el equipo del Jugador</label>
    <input type="text" hidden class="form-control" id="exampleInputHidden1">
  </div>
  <div class="form-group">
    <label for="exampleInputname1">Ingresen el nombre del jugador</label>
    <input type="name" class="form-control" id="exampleInputname1">
  </div>
 <div class="form-group">
    <label for="exampleInputdatetime1">Ingresen la fecha de nacimiento del jugador</label>
    <input type="datetime" class="form-control" id="exampleInputdatetime1">
  </div>
  <div class="form-group">
    <label for="exampleInputfile1">Ingresen una foto del jugador</label>
    <input type="file" class="form-control" id="exampleInputfile1">
  </div>

<button type="submit" class="btn btn-primary">Guardar Jugador</button>
</form>