
<link rel="stylesheet" type="text/css" href="site.css">

@{
    ViewData["Title"] = "Home Page";
}




<!--Portada-->
<div class="Index">
    <h1 class="textBienvenidos">Bienvenidos a la pagina oficial <br> del Mundial 2022 </h1>
    <img class="imagenPortada" src="Portada.jpg" >

    <h1 class="titulo">EQUIPOS </h1>
  



<!--Ubicacion de ft con columnas-->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4"> 
           
                
        @foreach(Equipo equipos in ViewBag.Lista){
       
            <div class="card card-equipos">
            <img src="@equipos.Escudo" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title" class="titulodecard">@equipos.Nombre</h5>
                <p class="card-text"></p>
                <a href='@Url.Action("VerDetalleEquipo", "Home", new { IdEquipo = @equipos.IdEquipo} )' class="btn btn-primary"> Ver Equipo</a>
            </div>
            </div>  

            
            
    }
  
     </div>
 </div>

 
</div>       
