html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-equipos {width:20%}

/* estilos para cuando sea mobile*/
@media (max-width: 768px) {
  .card-equipo {width:100%}
}

body
{
  color: aliceblue;
  background-color: #8a1d3ec4;
}

.home {
  color: aliceblue ;
  text-decoration: none;
}
.home:hover{
  text-decoration: solid;
}
.orden
{
   float: left;
}
titulodecard
{
  color: rgba(194, 60, 60, 0.719);
}
.titulo
{
 
   font-size: 80px;
   font-style: oblique;
   font-weight: 800;
  
  
}
.orden
{
   margin: 3px;
}

