html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-equipos {width:20%}

/* estilos para cuando sea mobile*/
@media (max-width: 768px) {
  .card-equipo {width:100%}
}